baseURL = 'https://suedreise2026.netlify.app/'
languageCode = 'en-us'
title = 'Reise Blog'
theme = "pehtheme"
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
 [markup.goldmark.parser]
    attribute = true

[menu]

  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 1

  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 2

  [[menu.main]]
    identifier = "gallery"
    name = "Galerie"
    url = "/gallery/"
    weight = 3
