{{ define "main" }}
<section class="my-10">
  <h2 class="text-3xl md:text-4xl font-bold mb-4">Interaktive Karte Chinas</h2>

  <iframe 
    src="https://www.google.com/maps/d/embed?mid=10RjmKMQUzA3IHrbo4ChqxMuuLo3rk7g&ehbc=2E312F" width="640" height="480"
    width="100%" height="500" style="border:0;" 
    allowfullscreen="" loading="lazy">
  </iframe>
</section>
<!-- Feature post by tag = "feature" -->

{{- range where .Site.RegularPages "Params.tags" "intersect" (slice "feature" ) | first 1 -}}
<section class="block md:flex relative group p-6 lg:p-10 space-y-6 md:space-x-6 my-14 bg-zinc-100 rounded-3xl hover:bg-blue-100">
  <figure class="basis-1/2 w-full aspect-video overflow-hidden rounded-2xl border">

    {{- if .Params.image }}

      {{- if (strings.HasPrefix .Params.image "http") }}

        <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ $.Name }}" style="width: 100%; height: 100%; object-fit: cover;">

      {{- else }}

        {{- with $imgfeature := resources.Get .Params.image }}
          {{ $imgfeature := $imgfeature.Resize "720x Q85" -}}
          <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ $imgfeature.Permalink }}" alt="{{ $.Name }}" width="{{ $imgfeature.Width }}" height="{{ $imgfeature.Height }}">
        {{- end }}

      {{- end }}

    {{- end }}

</figure>
<div class="basis-1/2 self-center">
  <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold mb-4">
    <a class="before:content-[''] before:z-10$">
      <!-- Hier bleibt dein Titel -->
    </a>
  </h2>
  {{ with (.Param "date") }}
    {{ $d := time.AsTime . }}
    <time datetime="{{ $d | time.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">
      <span class="font-bold">{{ $d | time.Format "Jan 02, 2006" }}</span>
    </time>
  {{ end }}
</div>
</section>
{{ end -}}

<!-- / End feature post  -->

<!-- Start recent post  -->

  <section class="mb-16">

    <div class="flex items-center mb-6">

      <h2 class="text-3xl md:text-4xl font-bold mr-auto">Recent Post</h2>

    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-10">

    {{ $paginator := .Paginate ( where site.RegularPages "Type" "in" site.Params.mainSections) }}

    {{ range $paginator.Pages }}

      {{- partial "content/card" . -}}

    {{ end }}

    </div>

    <!-- Paginate here -->

    <div class="flex items-center mt-10">
      {{- if $paginator.HasPrev -}}
        <a class="border rounded-full px-6 py-2 hover:bg-zinc-200 mr-auto" href="{{ $paginator.Prev.URL }}">← Previous</a>
      {{- end -}}

      {{- if $paginator.HasNext -}}
        <a class="border rounded-full px-6 py-2 hover:bg-zinc-200" href="{{ $paginator.Next.URL }}">Next →</a>
      {{- end -}}
    </div>

  </section>

<!-- / End recent post  -->

<footer class="bg-white py-9 text-center text-sm leading-relaxed text-zinc-600">
  <p>
    © 2026 Südreise
  </p>
</footer>
{{ end }}
